<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProgramDeployerServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProgramDeployer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ProgramDeployerServer.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>20023</value>
            </setting>
            <setting name="ClientsList" serializeAs="String">
                <value>http://taikor.innovors.info:20023/self/;http://182.141.183.231:20023/self/;http://182.141.183.232:20023/self/;http://taikor.innovors.info:20023/m/;http://182.141.183.231:20023/m/;http://182.141.183.232:20023/m/</value>
            </setting>
            <setting name="HashKey" serializeAs="String">
                <value>taikor</value>
            </setting>
        </ProgramDeployerServer.Properties.Settings>
        <ProgramDeployer.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>20023</value>
            </setting>
        </ProgramDeployer.Properties.Settings>
    </userSettings>
</configuration>